@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 60px 0px 60px 0px;
  padding: 50px;
}

#tweet {
	  background: #00ACEE;
	  border-radius: 1;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #0075a2;
}
